[submodule "buildrump.sh"]
	path = buildrump.sh
	url = https://github.com/libos-nuse/buildrump.sh
	ignore = dirty
[submodule "src-netbsd"]
	path = src-netbsd
	url = https://github.com/rumpkernel/src-netbsd
[submodule "lkl-linux"]
	path = lkl-linux
	url = git://github.com/thehajime/lkl-linux
	ignore = dirty
[submodule "musl"]
	path = musl
	url = git://github.com/libos-nuse/musl.git
